body 
{
    background-color: #181b1b;
    color: #c1c0cc;
}

.ListSection 
{
    background-color: #272727;
    border: 1px solid #474747;
    border-radius: 0.25rem;
    margin: 0.8rem;
    padding: 2rem;
    width: 1200px;
    display: flex;
    align-items: center;
}

.ListSection .video {
    flex: 1;
}

.ListSection .text {
    flex: 2;
    margin-left: 20px;
}

.list
{
    display: flex;
    justify-content: center;
}


.centeredElement
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.centeredElement .credits 
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-width: 100%;
    margin-top: 0;
}

.PlayerSection {
    background-color: #202020; /* Cor de fundo da seção */
    border: 1px solid #363636;
    max-width: 1200px;
    border-radius: 5px; /* Bordas arredondadas */
    padding: 10px; /* Espaçamento interno */
}

.playerRecord {
    font-size: 16px; /* Tamanho da fonte */
    line-height: 1.5; /* Espaçamento entre linhas */
}

.playerRecord a {
    color: #fff; /* Cor do link */
}

.playerRecord a:hover {
    color: #008cff; /* Cor do link quando o mouse passa por cima */
    transition: 0.2s;
}

.navbar-brand
{
    color: #d4d4d4;
    transition: 0.2s;
}

.list a
{
    text-decoration: none;
    color: #c1c0cc;
}

.list a:hover
{
    color: #f1f1f1;
    transition: 0.2s;
}