<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img class="d-inline-block align-text-top" src="/assets/img/iconDLBR.png" style="width: 30px; margin-right: 5px;" alt="DLBR Logo">
            Demonlist BR
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/pages/legacylist.html">Legacy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pages/playerranking.html">Ranking</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        Enviar
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/pages/submit.html?level">Level</a></li>
                        <li><a class="dropdown-item" href="/pages/submit.html?record">Record</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pages/about.html">Sobre</a>
                </li>
            </ul>
        </div>
    </div>
</nav>