body 
{
    background-color: #181b1b;
    color: #c1c0cc;
}

#ListContent
{
    width: 80%;
}

.ListSection 
{
    background-color: #212529;
    border: 1px solid #474747;
    border-radius: 0.25rem;
    margin: 0.6rem;
    padding: 1rem;
    max-width: 100%;
    display: flex;
    align-items: center;
}

.ListSection .text {
    flex: 3;
    margin-left: 40px;
}

.ListSection p {
    margin-bottom: 7px;
}

.list
{
    display: flex;
    justify-content: center;
}


.centeredElement
{
    width: 100%;
    align-items: center;
    height: 80vh;
    padding-left: 70px;
    padding-right: 70px;
}

.centeredElement .credits 
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-width: 100%;
    margin-top: 0;
}

.PlayerSection {
    background-color: #17191b;
    border: 1px solid #363636;
    max-width: 1200px;
    border-radius: 5px;
    padding: 10px;
}

.playerRecord {
    font-size: 16px;
    line-height: 1.5;
}

.playerRecord a {
    color: #fff;
}

.playerRecord a:hover {
    color: #008cff;
    transition: 0.2s;
}

.navbar-brand
{
    color: #d4d4d4;
    transition: 0.2s;
}

.list a
{
    text-decoration: none;
    color: #c1c0cc;
}

.list a:hover
{
    color: #f1f1f1;
    transition: 0.2s;
}

.g-3
{
    margin-bottom: 50px;
}

#score-formula-img
{
    width: 20%;
    margin-top: 20px;
    margin-bottom: 10px;
}

#ranking-header
{
    margin-top: 30px;
    margin-bottom: 50px;
}

#playerDetails-modal a
{
    text-decoration: none;
    color: #c1c0cc;
}

#playerDetails-modal a:hover
{
    color: #f1f1f1;
    transition: 0.2s;
}

#table-container
{
    padding-left: 50px;
    padding-right: 50px;
}

#table-container table
{
    width: 100%;
    border: 1px solid #474747;
}

.modal-body p
{
    margin-bottom: 5px;
}

#btn-back-to-top
{
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    border-radius: 50%;
}

#iconDLBR
{
    width: 150px;
    margin-top: 25px;
}

.credits p
{
    margin-bottom: 0;
}

.btn-custom {
    width: 200px;
}

#legacy-header
{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #212529;
}

#legacy-header p
{
    margin-bottom: 0;
}

@media (max-width: 1280px) {
    #ListContent
    {
        width: 100%;
    }
    #table-container
    {
        padding-left: 15px;
        padding-right: 15px;
    }
    .ListSection {
        padding: 1rem;
        margin: 0.5rem;
    }
    #score-formula-img {
        width: 30%;
    }
}

@media (min-width: 992px)
{
    .navbar-expand-lg .navbar-nav .dropdown-menu 
    {
        position: absolute;
        left: -60px;
    }
}

@media (max-width: 760px) {
    #ListContent
    {
        width: 100%;
    }
    .ListSection {
        padding: 1rem;
    }
    .ListSection .video {
        display: none;
    }
    .ListSection .text {
        margin-left: 0;
    }
    #table-container
    {
        padding-left: 0;
        padding-right: 0;
    }
    .text h2
    {
        font-size: 20px;
    }
    .text p
    {
        font-size: 14px;
    }
}

@media (max-width: 600px) {
    #iconDLBR {
        width: 100px;
    }
    .credits {
        flex-direction: column !important;
    }
    .credits-div {
        margin-bottom: 20px;
    }
}

@media (max-width: 400px) {
    #about-section {
        padding-left: 15px;
        padding-right: 15px;
    }
    #iconDLBR {
        width: 80px;
    }
    .btn-custom {
        width: 40px;
    }
    .btn-text {
        display: none;
    }
    #score-formula-img {
        width: 50%;
    }
}